.chat-layout {
  display: flex;
  height: 90vh;
  background: #f0f2f5;
}

/* USER PANEL */
.user-panel {
  width: 280px;
  background: #0f172a;
  border-right: 1px solid #ddd;
  padding: 15px;
}

.user-panel h2 {
  margin-bottom: 15px;
}

.user-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.user-item:hover,
.user-item.active {
  background: #1e293b;
}

.user-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* CHAT PANEL */
.chat-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 800px
}

/* HEADER */
.chat-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  background: #0f172a;
  border-bottom: 1px solid #ddd;
}

.chat-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* MESSAGES */
.chat-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background: #0f172a;
}

.message {
  max-width: 65%;
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.message.sent {
  background: green;
  margin-left: auto;
}

.message.received {
  background: #0f172a;
  margin-right: auto;
}

/* INPUT */
.chat-input {
  display: flex;
  padding: 10px;
  background: #0f172a;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  background: #4caf50;
  color: white;
  cursor: pointer;
}